{% extends "base.html" %}
{% load i18n %}

{% block content %}
SFN: Support for Needs - Wsparcie Wsparcia :)<br>
To platforma tworzona przez woluntariuszy dla woluntariuszy i organizacji pomagającym uchodźcom z Ukrainy. 
Pozwala koordynować przepływ produktów pomiędzy miejscami zbiórek, miejscami wydawań, magazynami itp.<br>
Ułatwia szybciej i dokładniej reagować na zapotrzebowanie na produkty w danym miejscu, zmniejszając nakład pracy na ręczną 
obługę procesów (pytanie gdzie co jest, czego brakuje, przepisywanie, ogłaszanie, wysyłanie listy potrzeb itp).<br>
Z poziomu platformy możesz publikować zapotrzebowania na swoim facebooku.<br>
<br>
Źródła projektu możesz obejrzeć na https://github.com/bartmanos/sfn<br>
Jeśli chcesz poznać nasz system bliżej i używać go do pomocy zapraszamy na nasz <a href="https://sfn-project.slack.com/archives/C038RS6QQD7">kanał slackowy</a><br>
Możesz też napisać maila na adres support[@]sfn-project.org (usuń nawiasy kwadratowe z adresu)
<br>
<br>
  pozdrawiam i zapraszam do współpracy,<br>
  Bartosz Sienkiewicz i zespół<br>
<br>
<br>
[EN]
It is a platform based on web application with pc, tablets, phone as a client that is helping to organize and coordinate 
managing needs between points of interests [poi] (single places, warehouses, volunteers). <br>Its main goal is to shorten time to share 
needs and to better control needs validation. Sharing info by one click on main page or facebook (or any other media) 
additionally relieves the load of a volunteer or any person working in the process. <br>Also information is better standarized so other parties 
have simpler task to answer specific need.<br>
Source code you can find on https://github.com/bartmanos/sfn
{% endblock %}
