{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% for error in errors %}
        {% for e in error %}
            <div class="alert alert-danger">
                <strong>{{ e|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% translate "Goods.name" %}</th>
          <th scope="col">{% translate "Needs.quantity" %}</th>
          <th scope="col">{% translate "Needs.due_time" %}</th>
          <th scope="col">{% translate "Poi.name" %}</th>
          {% if user.is_authenticated %}<th scope="col">{% translate "Fulfill" %}</th>{% endif %}
        </tr>
      </thead>
      <tbody>
    {% for need in needs %}
        <tr>
          <td>{{ need.good.name }}</td>
          <td>{{ need.quantity }} {{ need.unit }}</td>
          <td>{{ need.due_time }}</td>
          <td><a href="{% url 'poi-detail' need.poi.id %}" target="_blank">{{ need.poi.name }}</a></td>
          {% if user.is_authenticated %}
            <th scope="col">
                <form action={% url 'needs' %}?need_id={{ need.id }} method="post">
                    {% csrf_token %}
                    <div class="modal fade" id="fullfull{{ need.id }}" tabindex="-1" aria-labelledby="fullfull{{ need.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="fullfull{{ need.id }}">{% translate "Fulfill" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            {% translate "By clicking fullfill you commit to provide this need. Are you sure?" %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
                            <input type="submit" value={% translate "Fulfill" %} class="btn btn-warning">
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn bg-ua-rev" data-bs-toggle="modal" data-bs-target="#fullfull{{ need.id }}">{% translate "Fulfill" %}</button>
                </form>
            </th>
          {% endif %}
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endblock %}
