{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% translate "Goods.name" %}</th>
          <th scope="col">{% translate "Needs.quantity" %}</th>
          <th scope="col">{% translate "BaseModel.created_at" %}</th>
          <th scope="col">{% translate "Poi.name" %}</th>
          <th scope="col">{% translate "Shipments.status" %}</th>
          <th scope="col">{% translate "BaseModel.created_at" %}</th>
          <th scope="col">{% translate "BaseModel.updated_at" %}</th>
        </tr>
      </thead>
      <tbody>
    {% for shipment in object_list %}
        <tr>
          <td>{{ shipment.need.good.name }}</td>
          <td>{{ shipment.need.get_quantity_display }} {{ shipment.need.get_unit_display }}</td>
          <td>{{ shipment.need.created_at }}</td>
          <td><a href="{% url 'poi-detail' shipment.need.poi.id %}" target="_blank">{{ shipment.need.poi.name }}</a></td>
          <td>{{ shipment.get_status_display }}</td>
          <td>{{ shipment.created_at }}</td>
          <td>{{ shipment.updated_at }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endblock %}
